

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Fox Club</title>   
    </head>
    <body>
        <header><h1>Welcome to Programmer Fox Club!</h1></header>

        <img src="~/pictures/greenfox.png" alt="Green Fox">
        <nav>
            <a href="https://localhost:44345/login">Go to login</a>
        </nav>
    </body>
    </html>

