

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <header><h1>Welcome to Programmer Fox Club!</h1></header>
        <img src="~/pictures/greenfox.png" alt="Green Fox">
        <p>Please provide a name, so you can associate it to your pet!</p>
       
        <form action="/login" method="post">
            <label>Name:<input type="text" name="name" placeholder="Type your name.." /></label>
            <button>GO</button>
        </form>
   
    </body>
    </html>

