@model string

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            body{
                background-color: @Model
            }
        </style>
        <title></title>
    </head>
    <body>
        </body>
    </html>

