<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    
</head>
<body>
    <nav>
        <a href="https://localhost:44329/colored">Colored background</a>
        <a href="https://localhost:44329/validation">Email validation</a>
    </nav>
</body>
</html>

